*.*~
*.dylib
*.os
*.moc
*.pyc
*.swp
*.so
*.tmp
*.desktop
*.code-workspace
*.obj
*.pyd
*.pdb
*.dll
*.lib
*.ilk
*.exp
.gafferBackups
.idea
.sconf_temp
.sconsign.dblite
.vscode
cmake-build-*
config.log
doc/html
doc/python
include/Gaffer/Version.h