---
title: Gaffer Demo Videos
---

{% include header.html %}


<div class="container">
		<div class="col-sm-12">
			<section id="download">
				<div class="page-header">
				<h1>Shader Authoring in Maya</h1>
				</div>
				<a href=resources/videos/gafferDemo_shaderPalette_002.ogv><img src=resources/images/gafferDemo_shaderPalette_002.jpg alt="shader palette demo"></a>
				<p>Example showing shader authoring interface derived from Gaffer.</p>
			</section>
		</div>
</div>


{% include footer.html %}
