---
title: Getting Started With Gaffer
---

{% include header.html %}

<div class="row">

	<div class="span3 bs-docs-sidebar">
		<ul class="nav nav-list">
			<li><a href="#download"><i class="icon-chevron-right"></i> Download</a></li>
			<li><a href="#configure"><i class="icon-chevron-right"></i> Configure</a></li>
			<li><a href="#tinker"><i class="icon-chevron-right"></i> Tinker</a></li>
		</ul>
	</div>

	<div class="span9">
	
		<section id="download">
			<div class="page-header">
			<h1>1. Download</h1>
			</div>
			<p class="lead">Blah blah...</p>
		</section>

		<section id="configure">
			<div class="page-header">
			<h1>2. Configure</h1>
			</div>
			<p class="lead">Blah blah...</p>
		</section>

	</div>

</div>

{% include footer.html %}
