---
title: Getting Started With Gaffer
---

{% include header.html %}

<div class="row">

	<div class="span3 bs-docs-sidebar">
		<ul class="nav nav-list">
			<li><a href="#download"><i class="icon-chevron-right"></i> Download</a></li>
			<li><a href="#configure"><i class="icon-chevron-right"></i> Configure</a></li>
			<li><a href="#tinker"><i class="icon-chevron-right"></i> Tinker</a></li>
		</ul>
	</div>

	<div class="span9">
	
		<section id="download">
			<div class="page-header">
			<h1>1. Download</h1>
			</div>
			<p class="lead">To install a pre-built release, simply download and unpack the latest bundle from <a href=https://github.com/ImageEngine/gaffer/releases>the project site</a>. The resulting directory will contain the complete application ready to run.</p>
			<p class="lead">For linux, you will want the gaffer-VERSION-linux.tar.gz bundle. It's recommended that you choose the latest available verion. Once you have this file downloaded, unpack it with the command <div class="icode">tar -xvf gaffer-0.79.0-linux.tar.gz</div> (where in this case <div class="icode">0.79.0</div> is the version number)</p>
		</section>

		<section id="configure">
			<div class="page-header">
			<h1>2. Configure</h1>
			</div>
			<p class="lead">Once you have unpacked the bundle, you will need to add the following location within the Gaffer directory to your $PATH environment variable (substituting <tt>&lt;GAFFER_INSTALL_PATH&gt;</tt> with the path to the unpacked directory):</p>
			<ul class="lead"><li><tt>&lt;GAFFER_INSTALL_PATH&gt;/bin</tt></li></ul>
			<p class="lead"> Then to use 3delight with Gaffer you will need to:</p>
			<ul class="lead">
			<li>Ensure <tt>&lt;3DELIGHT_INSTALL_PATH&gt;/bin</tt> is in your $PATH.</li>
			<li>Set the $DELIGHT environment variable to point to <tt>&lt;3DELIGHT_INSTALL_PATH&gt;</tt>.</li>
			<li>Add <tt>&lt;3DELIGHT_INSTALL_PATH&gt;/shaders</tt> to the $DL_SHADERS_PATH environment variable.</li>
			<li>Add <tt>&lt;3DELIGHT_INSTALL_PATH&gt;/displays</tt> to the $DL_DISPLAYS_PATH environment variable.</li>
			<li>Add <tt>&lt;3DELIGHT_INSTALL_PATH&gt;/lib</tt> to the $LD_LIBRARY_PATH environment variable.</li>
			</ul>
			<p class="lead">Similarly, to use Arnold with Gaffer you will need to:</p>
			<ul class="lead">
			<li>Ensure <tt>&lt;ARNOLD_INSTALL_PATH&gt;/bin</tt> is in your $PATH.</li>
			<li>Add <tt>&lt;ARNOLD_INSTALL_PATH&gt;/bin</tt> to the $LD_LIBRARY_PATH environment variable.</li>
			<li>Add <tt>&lt;ARNOLD_INSTALL_PATH&gt;/python</tt> to the $PYTHONPATH environment variable.</li>
			</ul>
		</section>

		<section id="tinker">
			<div class="page-header">
			<h1>3. Tinker</h1>
			</div>
			<p class="lead">A good first step would be working through the "QuickStart" tutorial in the <a href=https://github.com/ImageEngine/gaffer/wiki/documents/0.79.0/GafferUserGuide.pdf>user documentation.</a> It covers the very basics of working with Gaffer to create and render a scene, taking you from launching the application through to viewing a complete image.</p>
		</section>

	</div>

</div>

{% include footer.html %}
