---
title: Gaffer Home
---

{% include header.html %}

<div class="jumbotron">
	<h1>Connect nodes. Make pictures.</h1>
	<p class="lead">
	Gaffer is a general purpose node-based application designed for use in the visual effects industry.
	It provides basic tools for procedural scene generation, shader authoring, rendering, and image compositing.
	</p>
	<a class="btn btn-large btn-success" href="getStarted.html"><i class="icon-download icon-white"></i> Give it a whirl...</a>
</div>

<hr>

<div class="row-fluid marketing">

	<div class="span4">
		<h4>Powerful</h4>
		<p>Based on a multithreaded blah blah...</p>
		<h4>Renderer Agnostic</h4>
		<p>Gaffer utilises a renderer abstraction layer allowing it to export to your favourite renderer (assuming
		   for now that your favourite renderer is either Arnold or 3Delight).
		</p>
	</div>

	<div class="span4">

		<h4>Customisable</h4>
		<p>Gaffer is built to be customisable throughout. Be it a simple
		scripted configuration tweak, complex expression, custom node
		or user interface, even a full blown application, Gaffer's open APIs enable
		you to do what you need.
		
		
		</p>

		<h4>Extensible</h4>
		<p>Indeed3</p>

	</div>

	<div class="span4">
		<h4>Open Source</h4>
		<p>Distributed under the BSD license, Gaffer builds upon a
		   wealth of open-source VFX libraries including OpenEXR, OpenImageIO,
		   OpenColorIO, Cortex and of course the Gaffer frameworks themselves.
		</p>
		<h4>Unfinished</h4>
		<p>Although Gaffer is becoming more capable by the day, it still lacks
		in features and useability.
		
		Itching to fix a bug or contribute a cool new enhancement? Want to
		add support for OpenVDB, Bullet or another renderer backend? 
		<a href="https://github.com/ImageEngine/gaffer">Fork it on GitHub...</a>
		</p>
	</div>

</div>

{% include footer.html %}
