		</div>

		<footer class="footer pt-80">
			<div class="container">
				<section class="copyright ptb-60">
					<div class="container">
						<p> © 2016 <strong>Image Engine Design Inc.</strong> All Rights Reserved. <br></p>
						<p> © 2016 <strong>John Haddon</strong> All Rights Reserved. <br></p>
					</div>
				</section>
			</div>
		</footer>

	</div>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{{ site.baseurl }}/js/plugin/jquery.easing.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/jquery-ui.min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/plugin/jquery.flexslider.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/plugin/jquery.fitvids.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/plugin/wow.min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/plugin/owl.carousel.min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/plugin/sidebar-menu.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/plugin/mediaelement-and-player.min.js"></script>
	<script src="{{ site.baseurl }}/js/theme.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/js/navigation.js" type="text/javascript"></script>

	<script>

	$( document ).ready(function() {

		// find animated gifs and add nice features like click-to-play
		//////////////////////////////////////////////////////////////

		function toggleAnimation( image ) {

			if( image.src.endsWith( ".png" ) )
			{
				image.src = image.src.replace( ".png", "Animation.gif" );
				image.parentNode.setAttribute( "class", "" );
			}
			else
			{
				image.src = image.src.replace( "Animation.gif", ".png" );
				image.parentNode.setAttribute( "class", "titleFrame" );
			}

		}

		// it'd be nice to use an attribute to say which images
		// get this treatment, but we use the filename instead,
		// since we can't set arbitrary attributes using the
		// markdown in our blog posts.

		var animations = $( "img[src$='Animation.gif']" );

		// wrap in a figure so we can add an overlay with the play icon.
		// this is done via the css.

		animations.wrap( "<figure></figure>" );

		// turn off the animation to start with

		animations.each( function() { toggleAnimation( this ); } );

		// and arrange to turn it on when clicked

		animations.on( "click", function() { toggleAnimation( this ); } );

	});

 	</script>

	</body>
</html>

