		</div>

		<hr>
		<div class="container">
			<div class="footer">
				<p>&copy; 2013, Image Engine Design Inc. &copy; 2013, John Haddon</p>
			</div>
		</div>

	</div>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap.js"></script>

	<script>

	$( document ).ready(function() {

		// fade up page content on load
		//////////////////////////////////////////////////////////////

		$( "#contentContainer" ).css( { opacity : 0 } );
		$( "#contentContainer" ).fadeTo( 350, 1 );

		// fade out page content on visiting a link
		//////////////////////////////////////////////////////////////

		$( "a" ).on( "click", function( event ) {

			// abort if there's a modifier held - the browser might
			// perform special actions like opening in another tab.
			if( event.ctrlKey || event.shiftKey || event.altKey || event.metaKey )
			{
				return;
			}

			// abort if the link is to an external url or to an
			// anchor on this page - in that case we don't want to
			// fade out.

			var href = this.href;
			if( href.match( /:/ ) || href.match( /^#/ ) )
			{
				return;
			}

			// fade our main content out, loading the new page manually
			// when it's done.
			$( "#contentContainer" ).fadeTo(
				350,
				0,
				function() {
					window.location.href = href;
				}
			);
			event.preventDefault();

		} );

		// find animated gifs and add nice features like click-to-play
		//////////////////////////////////////////////////////////////

		function toggleAnimation( image ) {

			if( image.src.endsWith( ".png" ) )
			{
				image.src = image.src.replace( ".png", "Animation.gif" );
				image.parentNode.setAttribute( "class", "" );
			}
			else
			{
				image.src = image.src.replace( "Animation.gif", ".png" );
				image.parentNode.setAttribute( "class", "titleFrame" );
			}

		}

		// it'd be nice to use an attribute to say which images
		// get this treatment, but we use the filename instead,
		// since we can't set arbitrary attributes using the
		// markdown in our blog posts.

		var animations = $( "img[src$='Animation.gif']" );

		// wrap in a figure so we can add an overlay with the play icon.
		// this is done via the css.

		animations.wrap( "<figure></figure>" );

		// turn off the animation to start with

		animations.each( function() { toggleAnimation( this ); } );

		// and arrange to turn it on when clicked

		animations.on( "click", function() { toggleAnimation( this ); } );

	});

 	</script>

	</body>
</html>

