<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="/gaffer/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/gaffer/css/bootstrap-responsive.css" rel="stylesheet">
	<!-- Out styling -->
	<link rel="stylesheet" type="text/css" href="css/custom-style.css"/>
	<link rel="icon" type="image/png" href="http://imageengine.github.io/gaffer/images/favicon.png" />
</head>

<body>

<nav class="navbar navbar-default" role="navigation">
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li {% if page.url == '/index.html' %} class="active" {% endif %}>
				<a href="/gaffer/index.html"> <span class="glyphicon glyphicon-home"></span> Gaffer</a>
			</li>
			<li {% if page.url == '/getStarted.html' %} class="active" {% endif %}>
				<a href="/gaffer/getStarted.html">Get Started</a>
			</li>
			<li {% if page.url == '/forum.html' %} class="active" {% endif %}>
				<a href="/gaffer/forum.html">Forum</a>
			</li>
			<li {% if page.url contains '/blog'  %} class="active" {% endif %}>
				<a href="/gaffer/{{ site.posts.first.url }}">Blog</a></li>
			</li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>

<div class="container">
<div class="container" id="contentContainer">

