<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="/gaffer/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/gaffer/css/bootstrap-responsive.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="http://favicon-generator.org/favicons/2013-09-16/63c120e8151670307c9f6e1a027a0473.ico" />
</head>

<body>

    <div class="container">
    
	    <!-- Navigation Bar -->

		<div class="masthead">
			<h3 class="muted">Gaffer</h3>	
			<div class="navbar navbar-static-top">
				<div class="navbar-inner">
					<div class="container">
						<ul class="nav">
							<li {% if page.url == '/index.html' %} class="active" {% endif %}>
								<a href="/gaffer/index.html"><i class="icon-home"></i> Gaffer</a>
							</li>
							<li {% if page.url == '/getStarted.html' %} class="active" {% endif %}>
								<a href="/gaffer/getStarted.html">Get Started</a>
							</li>
							<li {% if page.url == '/forum.html' %} class="active" {% endif %}>
								<a href="/gaffer/forum.html">Forum</a>
							</li>
							<li {% if page.url contains '/blog'  %} class="active" {% endif %}>
								<a href="/gaffer/{{ site.posts.first.url }}">Blog</a></li>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

  		<hr>
  		
  		<div class="container" id="contentContainer">
  		
