<!--Slide-->
<div class="item bg-img slide-bg-image parallax parallax-section1" data-background-img="{{ include.image }}">
    <!-- Content -->
    <div class="full-cap-wraper overlay-dark light-color">
        <div class="content-caption light-color">
            <div class="container">
	        <br>
                <h2 class="h2">{{ include.caption }}</h2>
                <br>
                <div><a class="btn btn-md btn-white-line xs-hidden" href="{{ site.baseurl }}/getStarted/">Download Gaffer</a></div>
            </div>
        </div>
    </div>
    <!-- End Content -->
</div>
<!--Slide-->
