images/tutorialSettingsWindowCustomContextVariable.png
images/tutorialSettingsWindowDefaultContextVariables.png
images/tutorialVariableSubstitutionInStringPlug.png
images/tutorialVariableSubstitutionTest.png
images/pathChooser.png
