images/*
!images/illustrationSpreadsheetNodePerLocationGeneral.svg
!images/illustrationSpreadsheetNodePerLocationGeneral.png
!images/illustrationSpreadsheetNodePerLocationSpecific.svg
!images/illustrationSpreadsheetNodePerLocationSpecific.png