# Standard build + test job

parameters:
  name: ''
  vmImage: ''
  container: ''
  buildType: 'RELEASE'
  threads: 2
  publish: false

jobs:

 - job: ${{ parameters.name }}_${{ parameters.buildType }}

   # We're seeing jobs take about an hour sometimes!
   timeoutInMinutes: 100

   ${{ if ne(parameters.container, '') }}:
      container: ${{ parameters.container }}

   pool:
     vmImage: ${{ parameters.vmImage }}

   variables:
     ARNOLD_ROOT: $(System.DefaultWorkingDirectory)/arnoldRoot
     DELIGHT: $(System.DefaultWorkingDirectory)/3delight
     BUILD_TYPE: ${{ parameters.buildType }}

   steps:

   - script: |
       brew update &&
       brew install doxygen &&
       brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/bb50e09187595c6a0ef68761e1c6457d8f7b2461/Formula/scons.rb &&
       brew cask install xquartz inkscape &&
       pip install sphinx==1.8.0 sphinx_rtd_theme==0.4.3 recommonmark==0.5.0 docutils==0.12
     displayName: 'Install Toolchain (Darwin)'
     condition: eq( variables['Agent.OS'], 'Darwin' )

   - script: |
        python --version
        pip install --user azure-common==1.1.23 azure-nspkg==3.0.2 azure-storage-blob==2.1.0 azure-storage-common==2.1.0 azure-storage-nspkg==3.1.0 PyGithub==1.45
     displayName: 'Install Python Modules'

   - script: |
       sudo /usr/libexec/ApplicationFirewall/socketfilterfw --setglobalstate off &&
       defaults -currentHost write ~/Library/Preferences/ByHost/com.apple.notificationcenterui doNotDisturb -boolean true &&
       sudo killall NotificationCenter &&
       defaults write com.apple.Dock autohide -bool true && sleep 1 && killall Dock
     displayName: 'Configure Environment (Darwin)'
     condition: eq( variables['Agent.OS'], 'Darwin' )

   # Provides $(Gaffer.*) variables
   - script: |
       ./config/azure/setBuildVars.py
     displayName: 'Set Custom Variables'
     env:
       GITHUB_ACCESS_TOKEN: $(githubAccessToken)

   - script: |
       ./config/installDelight.sh &&
       ./config/installArnold.sh &&
       ./config/installDependencies.sh ./build
     displayName: 'Install Dependencies'
     env:
       ARNOLD_LOGIN: $(arnoldLogin)
       ARNOLD_PASSWORD: $(arnoldPassword)
       AZURE: 1

   - script: |
       Xvfb :99 -screen 0 1280x1024x24 &
       metacity&
     displayName: 'Start X (Linux)'
     condition: and( succeeded(), eq( variables['Agent.OS'], 'Linux' ) )
     env:
       DISPLAY: :99.0

   - script: |
       echo BUILD_TYPE=${{ parameters.buildType }}
       g++ --version
       scons -j ${{ parameters.threads }} build ENV_VARS_TO_IMPORT=PATH BUILD_TYPE=${{ parameters.buildType }} DELIGHT_ROOT=$DELIGHT ARNOLD_ROOT=$ARNOLD_ROOT BUILD_DIR=./build INSTALL_DIR=./install/$(Gaffer.Build.Name) BUILD_CACHEDIR=sconsCache
     displayName: 'Build'
     env:
       DISPLAY: :99.0
       AZURE: 1

   - script: |
       scons -j ${{ parameters.threads }} docs ENV_VARS_TO_IMPORT=PATH BUILD_TYPE=${{ parameters.buildType }} DELIGHT_ROOT=$DELIGHT ARNOLD_ROOT=$ARNOLD_ROOT BUILD_DIR=./build INSTALL_DIR=./install/$(Gaffer.Build.Name) BUILD_CACHEDIR=sconsCache
     displayName: 'Build Docs'
     env:
       DISPLAY: :99.0
       AZURE: 1

   - script: |
       scons -j ${{ parameters.threads }} package ENV_VARS_TO_IMPORT=PATH BUILD_TYPE=${{ parameters.buildType }} DELIGHT_ROOT=$DELIGHT ARNOLD_ROOT=$ARNOLD_ROOT BUILD_DIR=./build INSTALL_DIR=./install/$(Gaffer.Build.Name) BUILD_CACHEDIR=sconsCache
     displayName: 'Package'
     env:
       DISPLAY: :99.0
       AZURE: 1

   - script: |
       ./install/$(Gaffer.Build.Name)/bin/gaffer test
     displayName: 'Test'
     env:
       DISPLAY: :99.0
       AZURE: 1
       USER: azureTestUser # ImageWriterTest requires $USER but by default Azure doesn't provide it

   - script: |
       ./config/validateRelease.py --archive ./install/$(Gaffer.Build.Name).tar.gz
     displayName: 'Validate'

   - ${{ if eq(parameters.publish, true) }}:

     - script: |
         ./config/azure/publishBuild.py --archive ./install/$(Gaffer.Build.Name).tar.gz --repo $(Build.Repository.Name) --commit $(Gaffer.Source.Commit)
       displayName: "Publish Build"
       condition: and( succeeded(), or( eq( variables['Build.Reason'], 'PullRequest' ), eq( variables['Build.Reason'], 'Schedule' ) ) )
       env:
         GITHUB_ACCESS_TOKEN: $(githubAccessToken)
         AZURE_ACCESS_TOKEN: $(azureBlobAccessToken)

     - script: |
         ./config/azure/publishRelease.py --archive ./install/$(Gaffer.Build.Name).tar.gz --repo $(Build.Repository.Name) --releaseId $(Gaffer.GitHub.ReleaseID)
       displayName: "Publish Release"
       condition: and( succeeded(), ne( variables['Gaffer.GitHub.ReleaseID'], '' ) )
       env:
         GITHUB_ACCESS_TOKEN: $(githubAccessToken)

