name: CI

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    container:
       image: gafferhq/build:1.0.0

    steps:

    - uses: actions/checkout@v1

    - name: Install Dependencies
      run: |
         ./config/installDelight.sh
         ./config/installDependencies.sh ./build

#        ./config/installArnold.sh

## \todo We need to include the following in the cache keys :
#
#  - dependencies version (including renderers)
#  - docker container version
#  - build type

# the cache keys

    - name: Cache SCons build files
      uses: actions/cache@v1
      with:
        path: sconsCache
        key: ${{ runner.os }}-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-${{ github.sha }}
          ${{ runner.os }}-

    - name: Build
      run: |
       source /opt/rh/devtoolset-6/enable
       echo BUILD_TYPE=$BUILD_TYPE
       echo $PATH
       echo `which g++`
       g++ --version
       scons package -j 2 ENV_VARS_TO_IMPORT=PATH BUILD_TYPE=RELEASE DELIGHT_ROOT=$DELIGHT ARNOLD_ROOT= BUILD_DIR=./build BUILD_CACHEDIR=sconsCache

#       -j ${{ parameters.threads }} BUILD_TYPE=${{ parameters.buildType }} ARNOLD_ROOT=$ARNOLD_ROOT INSTALL_DIR=./install/$(Gaffer.Build.Name)

     # displayName: 'Build'
     # env:
     #   DISPLAY: :99.0
     #   AZURE: 1

    - name: Limit cache size
      run: python ./config/limitCacheSize.py

    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.

    # script: |
    #    ./config/installDelight.sh &&
    #    ./config/installArnold.sh &&
    #    ./config/installDependencies.sh ./build
    #  displayName: 'Install Dependencies'
    #  env:
    #    ARNOLD_LOGIN: $(arnoldLogin)
    #    ARNOLD_PASSWORD: $(arnoldPassword)
    #    AZURE: 1


# on:
#   push:
#     branches:
#       - master
#       - *_maintenance
#   pull_request:
#     branches:
#       - master
#       - *_maintenance

# jobs:

#   build:

#     runs-on: ubuntu-16.04

#     container:
#       image: gafferhq/build:1.0.0

#     steps:
#     - uses: actions/checkout@v1
#     - name: Run a one-line script
#       run: echo Hello, world!
#     - name: Run a multi-line script
#       run: |
#         echo Add other actions to build,
#         echo test, and deploy your project.
